/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*settings*/
body {
    font-size: 16px;
    line-height: 1, 62;
    font-family: 'Roboto', sans-serif;

}

button{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

}

.container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 72px;
}

.main-page {
    background-color: white;
    min-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-subtitle {
    font-size: 12px;
    line-height: 1, 33;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #828282;
    text-align: center;
    margin-bottom: 8px;
    top: 185px;
}

.main-title {
    font-size: 42px;
    line-height: 1;
    text-align: center;
    word-wrap: break-word;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
}

.main-title span {
    color: #D476F8;
    font-size: 72px;
    font-family: 'Yesteryear', cursive;
}

.catalog-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px 15px;
}

@media all and (max-width: 991px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media all and (max-width: 560px) {
    .catalog {
        grid-template-columns: repeat 1fr;
    }

}

.catalog-item {
    height: 398px;
    /*display: flex;*/
}

.catalog-item-image {
    height: 320px;
}

.catalog-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.catalog-item-info {
    text-align: center;
    padding: 16px 24px 0;
}

.button{
    cursor: pointer;
    padding: 0 4px;
}

.cart {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    height: 24px;
    padding: 0 4px;
}

.cart svg {
    width: 16px;
    height: 16px;
    margin-right: 0px;
}

.catalog-sort-types {
    position: static;
}

.catalog-sort {
    position: relative;
}

.catalog-sort ul { 
    font-size: 14px;
    position: absolute;
    display: none;
    width: 129px;
    /*height: 200px;*/
    left: 0;
    top: 24px;
    background: #FFFFFF;
    gap: 5px;
}

.catalog-sort:hover ul {
    display: block;
}

.header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header-bottom .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-phone {
    display: flex;
    gap: 30px;
}

.header-top {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-bottom{
    border-bottom: 1px solid #E0E0E0;
    padding-top: 9px;
    padding-bottom: 9px;
}

nav ul{
    display: flex;
    gap: 40px;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .location {
    position: relative;
    font-size: 14px; */
}

/*.location-info-link ul {
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    display: none;
    width: 129px;
    /*height: 200px;
    left: 0;
    top: 24px;
    background: #FFFFFF;
    gap: 5px;
}

/*.location-info-link:hover ul{
    display: block;
} */

/*.btn-location {
    display: flex;
    align-items: center;
    padding: 0 4px;
}       

.btn-location svg{
    margin-right: 10px;
    width: 16px;
    height: 16px;  
}*/

.phone {
    display: flex;
    position: relative;
    font-size: 14px;
    vertical-align: middle;
}

.language{
    position: relative;
    font-size: 14px;
}

.language ul{
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    display: none;
    width: 129px;
    /*height: 200px;*/
    left: 0;
    top: 24px;
    background: #FFFFFF;
}

.language:hover ul{
    display: block;
}

.language button{
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 4px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    vertical-align: top;
    margin-top: 192px;
}

.logo-phone-socials .logo{
    padding: 25px;
}

.logo-phone-socials{
    align-items: start;
    
}

.logo-phone-socials .phone{
    padding: 25px;
}

.logo-phone-socials p{
    padding-left: 25px;
}

.logo-phone-socials ul{
    display: flex;
    gap: 16px;
    padding: 25px;
}

.categories-info{
    display: flex;
    gap: 50px;
}

.categories-info h3{
    font-size: 18px;
    padding-bottom: 16px;
}

.categories-info ul{
    padding-left: 16px;
}

.subscription h3{
    font-size: 18px;
    
}

.subscription{
    padding-left: 50px;
}

.subscription p {
    padding-top: 16px;
    padding-bottom: 16px;
}

.location-info-item {
    display: flex;
    align-items: center;
}

.location-info-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    flex-shrink: 0;
}

.location-info-link {
    /*display: flex;
    align-items: center;*/
    font-size: 14px;
    display: flex;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 4px;
}

.location-info-link ul {
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    display: none;
    width: 129px;
    /*height: 200px;*/
    left: 0;
    top: 24px;
    background: #FFFFFF;
    gap: 8px;
}

.location-info-link:hover ul {
    display: block;
}

.location-info {
    display: flex;
    gap: 30px;
}


.arrow-dropdown {
    position: relative;
    top: 50%; 
    left: 5px;
    /* margin-left: 15px; */
    width: 14px;
    height: 8px;
}